.progress-bar {
    background-color: white;
    border-radius: 50px;
    border: 1px solid #333;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80vw;
    height: 6vh;
    max-width: 325px;
    max-height: 667px;
    position: relative;
}

.filler {
    background: #888;
    height: 100%;
    border-radius: inherit;
    transition: width 0.2s ease-in;
}
