.question {
    background-color: green;
    top: 10px;
    width: 90%;
    font: verdana;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px 20px 20px 20px;
    /* overflow: hidden;
    position: absolute; */
    border: 2px solid black;    
}