.questioncard {
    /* width: 750px;
    height: 1334px; */
    width: 90%;
    height: 90%;
    top: 5%;
    right: 5%;
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    position: absolute;
    border: 2px solid black;
}
.qc_question {
    background-color: blue;
    top: 10px;
    position: relative;
}

.qc_answers {
    background-color: green;
    top: 10%;
    position: relative;
    /* height: 200px; */
    border: 3px solid green;    
}
