.questioncard {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 90vw;
    height: 60vh;
    /* width: 750px;
    height: 1334px; */
    max-width: 325px;
    max-height: 667px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;

    overflow: hidden;
    border: 2px solid black;
}
.qc_question {
    background-color: white;
    top: 10px;
    position: relative;
}

.qc_answers {
    background-color: grey;
    top: 5%;
    position: relative;
}
