/* base styling for our button */
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-top: 5%;
    border-color: 2px solid black;
    border-radius: 20px 20px 20px 20px;
    width: 90%;
}

.select {
  border-color: #04AA6D;
  color: green;
}

.select:hover {
  background-color: #04AA6D;
  color: white;
}
