/* base styling for our button */
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    margin-top: 2%;
    border-color: 2px solid black;
    border-radius: 20px 20px 20px 20px;
    width: 90%;
}

/* Green */
.select {
  border-color: #04AA6D;
  color: green;
}

.select:hover {
  background-color: #04AA6D;
  color: white;
}

  
/* styling for our variants */
.btn-primary {
  /* border: none; */
  background-color: blue;
  color: white;
}
.btn-danger {
  /* border: none; */
  background-color: red;
  color: white;
}

/* styling for different shape*/
.btn-rounded {
  /* border-radius: 0.4rem; */
}
